@import "variables";

* {
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
    font-family: $fontstack;
}

#container {
    margin: 0 auto;
    max-width: 800px;

    >nav {
        >ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            width: 100%;
            border: 2px solid $primary_dark;
            font-size: $fontsize;

            @media (min-width: 650px) {
                flex-direction: row;
            }

            >li {
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                color: $primary_dark;
                background-color: $primary;
                text-align: center;

                &:not(:last-child) {
                    border-bottom: 2px solid $primary_dark;
                }

                @media (min-width: 650px) {
                    &:not(:last-child) {
                        border-bottom: none;
                        border-right: 2px solid $primary_dark;
                    }
                }

                &:hover {
                    font-weight: bold;
                    color: $primary_light;
                    background-color: $primary_dark;
                    transition: 1s;
                }

                >a {
                    width: 100%;
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }

    >main {
        >h1 {
            color: $primary_dark;
        }

        >ul {
            font-size: $fontsize;
            list-style-position: inside;
        }
    }
}