@use "sass:color";

.box {
    @each $key, $value in $color-map {
        &-#{$key} {
            color: $value;
            background-color: rgba($value, 0.15);
            border: 1px solid color.adjust($value, $lightness: -10%);
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 0.25rem;
        }
    }
}