.p {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding: calc($i / 3)rem;
        }
    }
}

.px {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding-left: calc($i / 3)rem;
            padding-right: calc($i / 3)rem;
        }
    }
}

.py {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding-top: calc($i / 3)rem;
            padding-bottom: calc($i / 3)rem;
        }
    }
}

.pt {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding-top: calc($i / 3)rem;
        }
    }
}

.pr {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding-right: calc($i / 3)rem;
        }
    }
}

.pb {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding-bottom: calc($i / 3)rem;
        }
    }
}

.pl {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding-left: calc($i / 3)rem;
        }
    }
}

.m {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin: calc($i / 3)rem;
        }
    }
}

.mx {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin-left: calc($i / 3)rem;
            margin-right: calc($i / 3)rem;
        }
    }
}

.my {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin-top: calc($i / 3)rem;
            margin-bottom: calc($i / 3)rem;
        }
    }
}

.mt {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin-top: calc($i / 3)rem;
        }
    }
}

.mr {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin-right: calc($i / 3)rem;
        }
    }
}

.mb {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin-bottom: calc($i / 3)rem;
        }
    }
}

.ml {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin-left: calc($i / 3)rem;
        }
    }
}