.p {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding: #{$i/3}rem;
        }
    }
}

.px {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding-left: #{$i/3}rem;
            padding-right: #{$i/3}rem;
        }
    }
}

.py {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding-top: #{$i/3}rem;
            padding-bottom: #{$i/3}rem;
        }
    }
}

.pt {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding-top: #{$i/3}rem;
        }
    }
}

.pr {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding-right: #{$i/3}rem;
        }
    }
}

.pb {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding-bottom: #{$i/3}rem;
        }
    }
}

.pl {
    @for $i from 0 through 5 {
        &-#{$i} {
            padding-left: #{$i/3}rem;
        }
    }
}

.m {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin: #{$i/3}rem;
        }
    }
}

.mx {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin-left: #{$i/3}rem;
            margin-right: #{$i/3}rem;
        }
    }
}

.my {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin-top: #{$i/3}rem;
            margin-bottom: #{$i/3}rem;
        }
    }
}

.mt {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin-top: #{$i/3}rem;
        }
    }
}

.mr {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin-right: #{$i/3}rem;
        }
    }
}

.mb {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin-bottom: #{$i/3}rem;
        }
    }
}

.ml {
    @for $i from 0 through 5 {
        &-#{$i} {
            margin-left: #{$i/3}rem;
        }
    }
}