*{
    cursor: url(../cursores/pokeball.cur), auto;
    user-select: none;
}
body{
    background-color: aqua;
    position: relative;
}
header{
    position: relative;
    height: 8vh;
    background-color: red;
    border: 1px solid black;
    border-bottom: 0;
}
nav{
    position: sticky;
    top: 0;
}
nav ul{
    height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid black;
    background-color: lightgray;
}
nav li{
    width: fit-content;
    color: gray;
    padding: 4px 10px 0 4px;
}
nav li:hover{
    background-color: gray;
    color: lightgray;
}
nav li:hover img{
    animation: 1s rotar infinite;
}
@keyframes rotar{
    100%{transform: rotate(360deg);}
}
nav a{
    cursor: url(../cursores/charmander.cur), pointer;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
.pokedex{
    display: inline-block;
    position: relative;
}
.contenido{
    display: none;
    width: 100%;
    background-color: lightgray;
    color: gray;
    border: 1px solid black;
    border-top: 0;
    margin-left: -4px;
}
.pokedex .contenido:nth-child(2){
    margin-top: 1px;
    border: 1px solid black;
}
.pokedex:hover .contenido{
    display: block;
    padding: 5px;
    text-decoration: none;
}
.contenido:hover{
    background-color: gray;
    color: lightgray;
}
section{
    height: 80vh;
    border: 1px solid black;
    border-top: 0;
    background-color: white;
}
aside{
    position: fixed;
    width: 10%;
    height: 69vh;
    right: 0;
    top: 11vh;
    margin: inherit;
    background-color: yellow;
}
footer{
    height: 5vh;
    border: 1px solid black;
    border-top: 0;
    background-color: green;
}