*{  /* css para todo la página, se modifica la imagen del cursor, se impide seleccionar elementos */
    cursor: url(../cursores/pokeball.cur), auto;
    user-select: none;
    scroll-behavior: smooth;
}
@keyframes rotar{   /* animación para rotar */
    100%{transform: rotate(360deg);}
}
@keyframes subir{   /* animación sube y baja */
    0%{bottom: 0;}
    100%{bottom: 1%;}
}
html{   /* Nos aseguramos de que la página ocupe el 100% de la pantalla  */
    width: 100%;
    height: 100%;
}
body{   /* estilos para el body, ajustamos tamaño, posición y colores */
    width: 100%;
    min-height: 100%;
    height: fit-content;
    background: linear-gradient(red,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    margin: 0;
}
header{ /* estilos para el header, ajustamos tamaño, posición y colores  */
    position: relative;
    height: 8%;
    border: 1px solid black;
    background-color: black;
    color: yellow;
    border-bottom: 0;
    padding: 20px;
}
h1{ /* ajustamos que el h1 se quede en linea con las imágenes */
    display: inline;
}
marquee img{    /* ponemos animación a las imágenes de la marquesina (los pokemon bailando) */
    animation: 1s rotar infinite alternate;
}
nav{    /* estilos para el menú */
    position: sticky;
    top: 0;
    height: 2.7%;
    z-index: 1;
    background-color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
}
nav audio{  /* estilos para el audio del menú, ajustamos tamaño */
    margin: auto;
    margin-top: 8px;
    margin-right: 1%;
    margin-bottom: 8px;
    height: 2.7vh;
    padding: 0;
}
nav ul{ /* estilos para la lista desordenada del menú, ajustamos tamaño y eliminamos los puntitos de la lista */
    height: 2.7vh;
    list-style: none;
    margin: 0;
    margin-left: 1%;
    padding: 0;
    display: flex;
    border: 1px solid black;
}
nav li{ /* estilos para los elementos de la lista del menú, ajustamos tamaño, color y cambiamos el cursor al pasar por encima */
    width: fit-content;
    color: yellow;
    padding: 4px 10px 0px 4px;
    height: 100%;
    cursor: url(../cursores/charmander.cur), pointer;
}
nav li:hover{   /* al pasar por encima se cambia el color */
    background-color: yellow;
    color: black;
}
nav li:hover img{   /* al pasar por encima la pokeball gira y se cambia el cursor */
    animation: 1s rotar infinite;
    cursor: url(../cursores/charmander.cur), pointer;
}
nav a{  /* estilos para los enlaces del menú, eliminamos el subrayado, añadimos negrita y se cambia el cursor */
    cursor: url(../cursores/charmander.cur), pointer;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
.pokedex{   /* ajustamos posición del menú desplegable */
    display: inline-block;
    position: relative;
}
.contenido{ /* estilos para los elementos del menú despegable, color, tamaño y por defecto estaría oculto */
    display: none;
    width: 100%;
    background-color: black;
    color: yellow;
    border: 1px solid black;
    border-top: 0;
    margin-left: -4px;
}
.pokedex .contenido:nth-child(2){   /* Ajustamos margen y borde del primer elemento del menú desplegable */
    margin-top: 1px;
    border: 1px solid black;
}
.pokedex:hover .contenido{  /* al pasar por encima del menú desplegable se muestran sus elementos */
    display: block;
    padding: 5px;
    text-decoration: none;
}
.contenido:hover{   /* al pasar por los elementos del menú desplegable cambian de color */
    background-color: yellow;
    color: black;
}
section{    /* estilos para section, tamaño, posición y margen */
    position: relative;
    border-top: 0;
    border-bottom: 0;
    margin: 0;
    padding-bottom: 85px;
    text-align: center;
}
article{    /* estilos para los artículos*/
    padding: 10px;
}
aside{  /* estilos para el aside, en este caso será la flecha para subir al inicio de la página, ajustamos posición y que siempre se vea por encima de todo */
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
}
aside:hover{    /* al pasar por encima se activa la animación que sube y baja */
    animation: 0.5s subir infinite alternate;
}
aside img{  /* al pasar por encima se cambia el cursor */
    cursor: url(../cursores/squirtle.cur),pointer;
}
footer{ /* estilos para el pie de página, posicion, tamaño y colores */
    position: absolute;
    height: auto;
    width: 100%;
    background-color: silver;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    bottom: 0;
}
footer p{   /* estilos para los párrafos del pie de página, tipo de letra y posición del texto al centro */
    font-family: Arial;
    text-align: center;
}
.mapa area{ /* al pasar por encima del mapa se cambia el cursor */
    cursor: url(../cursores/pikachu.cur),pointer;
}
.logos img{ /* al pasar por encima de las imágenes de redes sociales se cambia el cursor */
    cursor: url(../cursores/bulbasur.cur),pointer;
}
.logos, .logos img{ /* ajustamos margen y posición de las imágenes de redes sociales */
    display: flex;
    margin: auto;
    justify-content: center;
}
p{  /* ajustamos margen superior de los párrafos */
    margin-top: auto;
}