body {
  width: fit-content;
  margin: 2% auto;
  border: 1px dashed black;
  padding: 0 21px 21px 21px;
}

input[type="number"] {
  width: 2rem;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

p {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#zona-contador {
  border: 1px solid black;
  padding: 10px;
}

#reiniciar,
#panel {
  display: block;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#botones {
  display: flex;
  justify-content: space-around;
}