body{
    margin: 0;
}
.container{
    display: flex;
    border: 10px solid red;
    border-radius: 5px;
    height: 100vh;
    box-sizing: border-box;
}
.box{
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 black;
    padding: 10px;
}
.box1{
    background-color: lightseagreen;
}
.box2{
    background-color: blue;
}
.box3{
    background-color: magenta;
}
.box4{
    background-color: purple;
}
.box5{
    background-color: yellow;
}
.box6{
    background-color: orange;
}
.box7{
    background-color: crimson;
}
.box8{
    background-color: aqua;
}
.box9{
    background-color: limegreen;
}
.box10{
    background-color: darkcyan;
}