article{    /* ajustamos tamaño y colores */
    width: 50%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: aqua;
    border-radius: 25px;
    background-color: black;
    color: white;
}
fieldset{   /* redondeamos el borde y le cambiamos el color */
    border-radius: 25px;
    border-color: red;
}
legend{ /* cambiamos el color y añadimos negrita */
    color: yellow;
    font-weight: bold;
}
textarea{   /* cambiamos tamaño */
    width: 90%;
    height: 200px;
}
span{   /* cambiamos color y añadimos negrita */
    color: red;
    font-weight: bold;
}