@import "variables";

* {
    cursor: url($cursor-pokeball), auto;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: #ffd865;
}

.row {
    background-color: #fffad9;
}

.dropdown {
    a.dropdown-item:hover {
        background-color: rgba($color: #000000, $alpha: 0.25);
    }
}

marquee img {
    /* ponemos animación a las imágenes de la marquesina (los pokemon bailando) */
    animation: 1s rotar infinite alternate;
}

audio {
    height: 2.7vh;
}

aside.row {
    /* estilos para el aside, en este caso será la flecha para subir al inicio de la página, ajustamos posición y que siempre se vea por encima de todo */
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: initial;
}

aside:hover {
    /* al pasar por encima se activa la animación que sube y baja */
    animation: 0.5s subir infinite alternate;
}

aside img {
    /* al pasar por encima se cambia el cursor */
    cursor: url(../cursores/squirtle.cur), pointer;
}

footer.row {
    /* estilos para el pie de página, posicion, tamaño y colores */
    background-color: #e0d58d;
}

footer p {
    /* estilos para los párrafos del pie de página, tipo de letra y posición del texto al centro */
    font-family: Arial;
}

.mapa area {
    /* al pasar por encima del mapa se cambia el cursor */
    cursor: url(../cursores/pikachu.cur), pointer;
}

.logos img {
    /* al pasar por encima de las imágenes de redes sociales se cambia el cursor */
    cursor: url(../cursores/bulbasur.cur), pointer;
}

.logos,
.logos img {
    margin: auto;
}

@keyframes rotar {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes subir {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 1%;
    }
}