@import 'variables';

// Estilos generales
body {
    font-family: $font-family-base;
    background-color: $body-bg;
    color: $body-color;
}

// Estilos específicos para el encabezado
header {
    background-color: $header-bg;
    padding: 20px 0;
}

.navbar-brand {
    font-size: 1.5rem;
}

// Estilos específicos para el contenido principal
main {
    padding: 20px 0;
}

.container {
    max-width: 960px;
}

// Estilos específicos para el pie de página
footer {
    background-color: $footer-bg;
    padding: 20px 0;
    color: $footer-color;
}