@import "variables";

* {
    cursor: url($cursor-pokeball), auto;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: #ffd865;
    background-attachment: fixed;
}

.bg {
    &-kanto {
        background-image: url("../img/fondos/kanto.jpg");
    }

    &-johto {
        background-image: url("../img/fondos/johto.jpg");
    }

    &-hoenn {
        background-image: url("../img/fondos/hoenn.jpg");
    }

    &-sinnoh {
        background-image: url("../img/fondos/sinnoh.jpg");
    }
}

.row {
    background-color: #fffad9;
}

.dropdown {
    a.dropdown-item:hover {
        background-color: rgba($color: #000000, $alpha: 0.25);
    }
}

marquee img {
    /* ponemos animación a las imágenes de la marquesina (los pokemon bailando) */
    animation: 1s rotar infinite alternate;
}

nav li {

    /* al pasar por encima la pokeball gira y se cambia el cursor */
    &:hover {
        a {
            cursor: url(../cursores/charmander.cur), pointer;
        }

        img {
            animation: 1s rotar infinite;
            cursor: url(../cursores/charmander.cur), pointer;
        }
    }
}

section.row> :first-child,
marquee {
    padding-top: 1rem;
}

audio {
    height: 2.7vh;

    &::-webkit-media-controls-panel {
        background-color: #fffad9;
    }

    &::-webkit-media-controls-play-button,
    &::-webkit-media-controls-timeline,
    &::-webkit-media-controls-volume-slider,
    &::-webkit-media-controls-mute-button {
        &:hover {
            cursor: url(../cursores/music.cur), pointer;
        }
    }
}

aside.row {
    /* estilos para el aside, en este caso será la flecha para subir al inicio de la página, ajustamos posición y que siempre se vea por encima de todo */
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: initial;
}

aside:hover {
    /* al pasar por encima se activa la animación que sube y baja */
    animation: 0.5s subir infinite alternate;
}

aside img {
    /* al pasar por encima se cambia el cursor */
    cursor: url(../cursores/squirtle.cur), pointer;
}

footer.row {
    /* estilos para el pie de página, posicion, tamaño y colores */
    background-color: #e0d58d;
}

footer p {
    /* estilos para los párrafos del pie de página, tipo de letra y posición del texto al centro */
    font-family: Arial;
}

.mapa area {
    /* al pasar por encima del mapa se cambia el cursor */
    cursor: url(../cursores/pikachu.cur), pointer;
}

.logos img {
    /* al pasar por encima de las imágenes de redes sociales se cambia el cursor */
    cursor: url(../cursores/bulbasur.cur), pointer;
}

.logos,
.logos img {
    margin: auto;
}

form {
    padding-bottom: 1.5rem;

    fieldset {
        &.border {
            /* redondeamos el borde y le cambiamos el color */
            border-radius: 25px;
            border-color: red !important;
        }
    }

    legend {
        /* cambiamos el color y añadimos negrita */
        color: yellow;
        font-weight: bold;
    }

    textarea {
        /* cambiamos tamaño */
        width: 90%;
        height: 200px;
    }
}

table {
    /* ajustamos margen, tamaño y borde de la tabla */
    margin: auto;
    width: 95%;
    border: 0;

    &.dex {
        border-width: 0px;
        box-shadow: 1px 1px 3px #666, 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000;

        tr.sort_even td {
            border-color: #999;
            background-color: #e0e0e0;
            border-top: 1px #999 solid;
            border-left: 1px #ccc solid;
            border-right: 1px #ccc solid;
        }

        tr.sort_odd td {
            border-color: #999;
            background-color: #f0f0f0;
            border-top: 1px #999 solid;
            border-left: 1px #ccc solid;
            border-right: 1px #ccc solid;
        }
    }

    &.dexg {
        border-width: 0px;
        box-shadow: 1px 1px 4px #333, 1px 1px #666, -1px 1px #666, 1px -1px #666, -1px -1px #666;
    }

    td {
        &.row0 {
            text-align: center;
            background-color: #ccc;
            border-color: #333;
            padding: 5px;
            border: 0px solid;
            border-bottom: 1px #666 solid;
        }

        &.row1 {
            border-color: #999;
            background-color: #f0f0f0;
            border-top: 1px #999 solid;
            border-left: 1px #ccc solid;
            border-right: 1px #ccc solid;
        }

        &.row2 {
            border-color: #999;
            background-color: #e0e0e0;
            border-top: 1px #999 solid;
            border-left: 1px #ccc solid;
            border-right: 1px #ccc solid;
        }

        &.center {
            text-align: center;
        }
    }
}

@keyframes rotar {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes subir {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 1%;
    }
}