@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
* {
  cursor: url("../cursores/pokeball.cur"), auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

body {
  background-color: #ffd865;
  background-attachment: fixed;
}

.bg-index {
  background-color: #fffad9;
}
.bg-dex {
  background-color: rgba(255, 250, 217, 0.5);
}
.bg-kanto {
  background-image: url("../img/fondos/kanto.jpg");
}
@media (max-width: 767px) {
  .bg-kanto {
    background-image: -webkit-image-set(url("../img/fondos/kanto-S.avif") type("image/avif"), url("../img/fondos/kanto-S.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/kanto-S.avif") type("image/avif"), url("../img/fondos/kanto-S.webp") type("image/webp"));
  }
}
@media (max-width: 991px) {
  .bg-kanto {
    background-image: -webkit-image-set(url("../img/fondos/kanto-M.avif") type("image/avif"), url("../img/fondos/kanto-M.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/kanto-M.avif") type("image/avif"), url("../img/fondos/kanto-M.webp") type("image/webp"));
  }
}
@media (min-width: 992px) {
  .bg-kanto {
    background-image: -webkit-image-set(url("../img/fondos/kanto-L.avif") type("image/avif"), url("../img/fondos/kanto-L.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/kanto-L.avif") type("image/avif"), url("../img/fondos/kanto-L.webp") type("image/webp"));
  }
}
.bg-johto {
  background-image: url("../img/fondos/johto.jpg");
}
@media (max-width: 767px) {
  .bg-johto {
    background-image: -webkit-image-set(url("../img/fondos/johto-S.avif") type("image/avif"), url("../img/fondos/johto-S.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/johto-S.avif") type("image/avif"), url("../img/fondos/johto-S.webp") type("image/webp"));
  }
}
@media (max-width: 991px) {
  .bg-johto {
    background-image: -webkit-image-set(url("../img/fondos/johto-M.avif") type("image/avif"), url("../img/fondos/johto-M.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/johto-M.avif") type("image/avif"), url("../img/fondos/johto-M.webp") type("image/webp"));
  }
}
@media (min-width: 992px) {
  .bg-johto {
    background-image: -webkit-image-set(url("../img/fondos/johto-L.avif") type("image/avif"), url("../img/fondos/johto-L.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/johto-L.avif") type("image/avif"), url("../img/fondos/johto-L.webp") type("image/webp"));
  }
}
.bg-hoenn {
  background-image: url("../img/fondos/hoenn.jpg");
}
@media (max-width: 767px) {
  .bg-hoenn {
    background-image: -webkit-image-set(url("../img/fondos/hoenn-S.avif") type("image/avif"), url("../img/fondos/hoenn-S.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/hoenn-S.avif") type("image/avif"), url("../img/fondos/hoenn-S.webp") type("image/webp"));
  }
}
@media (max-width: 991px) {
  .bg-hoenn {
    background-image: -webkit-image-set(url("../img/fondos/hoenn-M.avif") type("image/avif"), url("../img/fondos/hoenn-M.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/hoenn-M.avif") type("image/avif"), url("../img/fondos/hoenn-M.webp") type("image/webp"));
  }
}
@media (min-width: 992px) {
  .bg-hoenn {
    background-image: -webkit-image-set(url("../img/fondos/hoenn-L.avif") type("image/avif"), url("../img/fondos/hoenn-L.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/hoenn-L.avif") type("image/avif"), url("../img/fondos/hoenn-L.webp") type("image/webp"));
  }
}
.bg-sinnoh {
  background-image: url("../img/fondos/sinnoh.jpg");
}
@media (max-width: 767px) {
  .bg-sinnoh {
    background-image: -webkit-image-set(url("../img/fondos/sinnoh-S.avif") type("image/avif"), url("../img/fondos/sinnoh-S.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/sinnoh-S.avif") type("image/avif"), url("../img/fondos/sinnoh-S.webp") type("image/webp"));
  }
}
@media (max-width: 991px) {
  .bg-sinnoh {
    background-image: -webkit-image-set(url("../img/fondos/sinnoh-M.avif") type("image/avif"), url("../img/fondos/sinnoh-M.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/sinnoh-M.avif") type("image/avif"), url("../img/fondos/sinnoh-M.webp") type("image/webp"));
  }
}
@media (min-width: 992px) {
  .bg-sinnoh {
    background-image: -webkit-image-set(url("../img/fondos/sinnoh-L.avif") type("image/avif"), url("../img/fondos/sinnoh-L.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/sinnoh-L.avif") type("image/avif"), url("../img/fondos/sinnoh-L.webp") type("image/webp"));
  }
}
.bg-teselia {
  background-image: url("../img/fondos/teselia.jpg");
}
@media (max-width: 767px) {
  .bg-teselia {
    background-image: -webkit-image-set(url("../img/fondos/teselia-S.avif") type("image/avif"), url("../img/fondos/teselia-S.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/teselia-S.avif") type("image/avif"), url("../img/fondos/teselia-S.webp") type("image/webp"));
  }
}
@media (max-width: 991px) {
  .bg-teselia {
    background-image: -webkit-image-set(url("../img/fondos/teselia-M.avif") type("image/avif"), url("../img/fondos/teselia-M.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/teselia-M.avif") type("image/avif"), url("../img/fondos/teselia-M.webp") type("image/webp"));
  }
}
@media (min-width: 992px) {
  .bg-teselia {
    background-image: -webkit-image-set(url("../img/fondos/teselia-L.avif") type("image/avif"), url("../img/fondos/teselia-L.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/teselia-L.avif") type("image/avif"), url("../img/fondos/teselia-L.webp") type("image/webp"));
  }
}
.bg-kalos {
  background-image: url("../img/fondos/kalos.jpg");
}
@media (max-width: 767px) {
  .bg-kalos {
    background-image: -webkit-image-set(url("../img/fondos/kalos-S.avif") type("image/avif"), url("../img/fondos/kalos-S.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/kalos-S.avif") type("image/avif"), url("../img/fondos/kalos-S.webp") type("image/webp"));
  }
}
@media (max-width: 991px) {
  .bg-kalos {
    background-image: -webkit-image-set(url("../img/fondos/kalos-M.avif") type("image/avif"), url("../img/fondos/kalos-M.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/kalos-M.avif") type("image/avif"), url("../img/fondos/kalos-M.webp") type("image/webp"));
  }
}
@media (min-width: 992px) {
  .bg-kalos {
    background-image: -webkit-image-set(url("../img/fondos/kalos-L.avif") type("image/avif"), url("../img/fondos/kalos-L.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/kalos-L.avif") type("image/avif"), url("../img/fondos/kalos-L.webp") type("image/webp"));
  }
}
.bg-alola {
  background-image: url("../img/fondos/alola.jpg");
}
@media (max-width: 767px) {
  .bg-alola {
    background-image: -webkit-image-set(url("../img/fondos/alola-S.avif") type("image/avif"), url("../img/fondos/alola-S.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/alola-S.avif") type("image/avif"), url("../img/fondos/alola-S.webp") type("image/webp"));
  }
}
@media (max-width: 991px) {
  .bg-alola {
    background-image: -webkit-image-set(url("../img/fondos/alola-M.avif") type("image/avif"), url("../img/fondos/alola-M.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/alola-M.avif") type("image/avif"), url("../img/fondos/alola-M.webp") type("image/webp"));
  }
}
@media (min-width: 992px) {
  .bg-alola {
    background-image: -webkit-image-set(url("../img/fondos/alola-L.avif") type("image/avif"), url("../img/fondos/alola-L.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/alola-L.avif") type("image/avif"), url("../img/fondos/alola-L.webp") type("image/webp"));
  }
}
.bg-galar {
  background-image: url("../img/fondos/galar.jpg");
}
@media (max-width: 767px) {
  .bg-galar {
    background-image: -webkit-image-set(url("../img/fondos/galar-S.avif") type("image/avif"), url("../img/fondos/galar-S.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/galar-S.avif") type("image/avif"), url("../img/fondos/galar-S.webp") type("image/webp"));
  }
}
@media (max-width: 991px) {
  .bg-galar {
    background-image: -webkit-image-set(url("../img/fondos/galar-M.avif") type("image/avif"), url("../img/fondos/galar-M.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/galar-M.avif") type("image/avif"), url("../img/fondos/galar-M.webp") type("image/webp"));
  }
}
@media (min-width: 992px) {
  .bg-galar {
    background-image: -webkit-image-set(url("../img/fondos/galar-L.avif") type("image/avif"), url("../img/fondos/galar-L.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/galar-L.avif") type("image/avif"), url("../img/fondos/galar-L.webp") type("image/webp"));
  }
}
.bg-hisui {
  background-image: url("../img/fondos/hisui.jpg");
}
@media (max-width: 767px) {
  .bg-hisui {
    background-image: -webkit-image-set(url("../img/fondos/hisui-S.avif") type("image/avif"), url("../img/fondos/hisui-S.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/hisui-S.avif") type("image/avif"), url("../img/fondos/hisui-S.webp") type("image/webp"));
  }
}
@media (max-width: 991px) {
  .bg-hisui {
    background-image: -webkit-image-set(url("../img/fondos/hisui-M.avif") type("image/avif"), url("../img/fondos/hisui-M.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/hisui-M.avif") type("image/avif"), url("../img/fondos/hisui-M.webp") type("image/webp"));
  }
}
@media (min-width: 992px) {
  .bg-hisui {
    background-image: -webkit-image-set(url("../img/fondos/hisui-L.avif") type("image/avif"), url("../img/fondos/hisui-L.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/hisui-L.avif") type("image/avif"), url("../img/fondos/hisui-L.webp") type("image/webp"));
  }
}
.bg-paldea {
  background-image: url("../img/fondos/paldea.jpg");
}
@media (max-width: 767px) {
  .bg-paldea {
    background-image: -webkit-image-set(url("../img/fondos/paldea-S.avif") type("image/avif"), url("../img/fondos/paldea-S.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/paldea-S.avif") type("image/avif"), url("../img/fondos/paldea-S.webp") type("image/webp"));
  }
}
@media (max-width: 991px) {
  .bg-paldea {
    background-image: -webkit-image-set(url("../img/fondos/paldea-M.avif") type("image/avif"), url("../img/fondos/paldea-M.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/paldea-M.avif") type("image/avif"), url("../img/fondos/paldea-M.webp") type("image/webp"));
  }
}
@media (min-width: 992px) {
  .bg-paldea {
    background-image: -webkit-image-set(url("../img/fondos/paldea-L.avif") type("image/avif"), url("../img/fondos/paldea-L.webp") type("image/webp"));
    background-image: image-set(url("../img/fondos/paldea-L.avif") type("image/avif"), url("../img/fondos/paldea-L.webp") type("image/webp"));
  }
}

h1 {
  font-family: "Pokemon Solid", sans-serif;
}

.dropdown a.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

marquee img {
  /* ponemos animación a las imágenes de la marquesina (los pokemon bailando) */
  animation: 1s rotar infinite alternate;
}

nav li {
  /* al pasar por encima la pokeball gira y se cambia el cursor */
}
nav li:hover a {
  cursor: url(../cursores/charmander.cur), pointer;
}
nav li:hover img {
  animation: 1s rotar infinite;
  cursor: url(../cursores/charmander.cur), pointer;
}

section.row > :first-child,
marquee {
  padding-top: 1rem;
}

audio {
  height: 2.7vh;
}
audio::-webkit-media-controls-panel {
  background-color: #fffad9;
}
audio::-webkit-media-controls-play-button:hover, audio::-webkit-media-controls-timeline:hover, audio::-webkit-media-controls-volume-slider:hover, audio::-webkit-media-controls-mute-button:hover {
  cursor: url(../cursores/music.cur), pointer;
}

aside.row {
  /* estilos para el aside, en este caso será la flecha para subir al inicio de la página, ajustamos posición y que siempre se vea por encima de todo */
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: initial;
}

aside:hover {
  /* al pasar por encima se activa la animación que sube y baja */
  animation: 0.5s subir infinite alternate;
}

aside img {
  /* al pasar por encima se cambia el cursor */
  cursor: url(../cursores/squirtle.cur), pointer;
}

footer.row {
  /* estilos para el pie de página, posicion, tamaño y colores */
  background-color: #e0d58d;
}
footer p {
  /* estilos para los párrafos del pie de página, tipo de letra y posición del texto al centro */
  font-family: Arial;
}

.mapa area {
  /* al pasar por encima del mapa se cambia el cursor */
  cursor: url(../cursores/pikachu.cur), pointer;
}

.logos img {
  /* al pasar por encima de las imágenes de redes sociales se cambia el cursor */
  cursor: url(../cursores/bulbasur.cur), pointer;
}

.logos,
.logos img {
  margin: auto;
}

form {
  padding-bottom: 1.5rem;
}
form fieldset.border {
  /* redondeamos el borde y le cambiamos el color */
  border-radius: 25px;
  border-color: red !important;
}
form fieldset table tr td:first-child {
  text-align: right;
  padding-right: 1rem;
}
form fieldset table tr td:last-child {
  text-align: left;
}
form legend {
  /* cambiamos el color y añadimos negrita */
  color: yellow;
  font-weight: bold;
}
form textarea {
  /* cambiamos tamaño */
  width: 90%;
  height: 200px;
}

table {
  /* ajustamos margen, tamaño y borde de la tabla */
  margin: auto;
  width: 95%;
  border: 0;
}
table.dex {
  border-width: 0px;
  box-shadow: 1px 1px 3px #666, 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000;
}
table.dex tr.sort_even td {
  border-color: #999;
  background-color: #e0e0e0;
  border-top: 1px #999 solid;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
}
table.dex tr.sort_odd td {
  border-color: #999;
  background-color: #f0f0f0;
  border-top: 1px #999 solid;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
}
table.dexg {
  border-width: 0px;
  box-shadow: 1px 1px 4px #333, 1px 1px #666, -1px 1px #666, 1px -1px #666, -1px -1px #666;
}
table td.row0 {
  text-align: center;
  background-color: #ccc;
  border-color: #333;
  padding: 5px;
  border: 0px solid;
  border-bottom: 1px #666 solid;
}
table td.row1 {
  border-color: #999;
  background-color: #f0f0f0;
  border-top: 1px #999 solid;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
}
table td.row2 {
  border-color: #999;
  background-color: #e0e0e0;
  border-top: 1px #999 solid;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
}
table td.center {
  text-align: center;
}

@keyframes rotar {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes subir {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 1%;
  }
}/*# sourceMappingURL=style.css.map */