* {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=145402), auto;
  font-family: "Montserrat", sans-serif;
}

a,
a > *,
.social img,
button > span,
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=145415), auto;
}

main {
  background-color: #eeeeee;
}

main > :first-child {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.container > .row {
  margin-bottom: 5px;
}

h2 {
  font-weight: bold;
  font-size: 27px;
}

.galeria > a div {
  width: 230px;
  height: 312px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.carousel {
  padding: 0;
}

.nav-link {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.social {
  display: flex;
  justify-content: flex-end;
}

.social img {
  width: 30px;
  height: 30px;
  margin: 10px 2px 2px 2px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media print {
}
