.tablerodibujo {
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  width: auto;
}
.tablerodibujo td {
  width: 10px;
  height: 10px;
  margin: 0px;
  padding: 0px;
}
.color1 {
  background-color: #ff0;
}
.color2 {
  background-color: #0f0;
}
.color3 {
  background-color: #000;
}
.color4 {
  background-color: #f00;
}
.color5 {
  background-color: #06c;
}
.color6 {
  background-color: #fff;
}

#paleta td {
  width: 35px;
  height: 20px;
}

#pincel {
  text-align: center;
}

.seleccionado {
  border: medium solid #939;
}
