h1 {
  padding: 10px;
}

.relleno {
  padding: 28px;
  background-color: #95ffcc;
  color: #02a28e;
}

.relleno2 {
  padding: 28px;
  background-color: #02a28e;
  color: white;
}

.ajustar {
  width: 100%;
}

.cursiva {
  font-style: italic;
}

article {
  padding-bottom: 1rem;
}