.center {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

#formulariologin, #tablapdfresultado {
    display: none;
}

#cargarDatos {
    margin-bottom: 10px;
}

#errores {
    color: red;
}

#tablapdf,  #tablapdf td/*, #tablapdfresultado,  #tablapdfresultado td*/ {
    border: 1px solid black;
}

#tablapdf,  #tablapdfresultado {
    border-collapse: collapse;
}

#tablapdf td,  #tablapdfresultado td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

#tablapdf button {
    display:inline-block;
    width: 100%;
}

#tablapdf input[type=text] {
    display:inline-block;
    width: 98%;
}