form {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

#formulariologin {
    display: none;
}

#errores {
    color: red;
}

#tablapdf, #tablapdf td {
    border: 1px solid black;
}

#tablapdf {
    border-collapse: collapse;
}